<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/1904070270秦玉龙选课系统/src/学生选课系统/BackGroundTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="学生选课系统.BackGroundTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1904070270秦玉龙选课系统"/>
</launchConfiguration>
